     body {
        margin: 0 auto;
        width: 80%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }
    form{
        width: 50%;
        height: 5vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    input{
        background-color: #bbe4e9;
        border: none;
    }
    h1{
        text-align: center;
    }
    table{
        margin: 0 auto;
    }
    button{
        background-color: #75e1ed;
        border: none;
    } 
   